<div class="containerFaq d-none d-lg-none d-xl-block">
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between borderNone" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                Le Lorem Ipsum  employé dans la composition
            </p>
        </div>
    </div>
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
        </div>
    </div>
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
        </div>
    </div>
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
        </div>
    </div>
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
        </div>
    </div>
    <div class="btn-group d-block">
        <button class="btn btn-light border-bottom-0 d-flex justify-content-between" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="align-middle md-18" color="primary">credit_card</mat-icon>
             Le service ABC Salles est-il payant ?
             <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="dropdown-menu dropdown">
            <mat-icon class="align-middle md-24 mt-4" color="#404B5A">credit_card</mat-icon>
            <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
            <p class="text-justify">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
        </div>
    </div>
</div>