<!-- <div class="containerFaq d-none d-lg-none d-xl-block">
  <div class="btn-group d-block">
    <button
      class="btn btn-light border-bottom-0 d-flex justify-content-between borderNone align-items-center"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="align-middle md-18" color="primary"
        >credit_card</mat-icon
      >
      Le service ABC Salles est-il payant ?
      <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="dropdown-menu dropdown">
      <mat-icon class="align-middle md-24 mt-4" color="#404B5A"
        >credit_card</mat-icon
      >
      <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
      <p class="text-justify">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
        standard de l'imprimerie depuis les années 1500, quand un imprimeur
        anonyme assembla ensemble des morceaux de texte pour réaliser un livre
        spécimen de polices de texte. Le Lorem Ipsum employé dans la composition
      </p>
    </div>
  </div>
  <div class="btn-group d-block">
    <button
      class="btn btn-light border-bottom-0 d-flex justify-content-between align-items-center"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="align-middle md-18" color="primary"
        >credit_card</mat-icon
      >
      Le service ABC Salles est-il payant ?
      <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="dropdown-menu dropdown">
      <mat-icon class="align-middle md-24 mt-4" color="#404B5A"
        >credit_card</mat-icon
      >
      <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
      <p class="text-justify">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
        standard de l'imprimerie depuis les années 1500, quand un imprimeur
        anonyme assembla ensemble des morceaux de texte pour réaliser un livre
        spécimen de polices de texte.
      </p>
    </div>
  </div>
  <div class="btn-group d-block">
    <button
      class="btn btn-light border-bottom-0 d-flex justify-content-between align-items-center"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="align-middle md-18" color="primary"
        >credit_card</mat-icon
      >
      Le service ABC Salles est-il payant ?
      <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="dropdown-menu dropdown">
      <mat-icon class="align-middle md-24 mt-4" color="#404B5A"
        >credit_card</mat-icon
      >
      <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
      <p class="text-justify">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
        standard de l'imprimerie depuis les années 1500, quand un imprimeur
        anonyme assembla ensemble des morceaux de texte pour réaliser un livre
        spécimen de polices de texte.
      </p>
    </div>
  </div>
  <div class="btn-group d-block">
    <button
      class="btn btn-light border-bottom-0 d-flex justify-content-between align-items-center"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="align-middle md-18" color="primary"
        >credit_card</mat-icon
      >
      Le service ABC Salles est-il payant ?
      <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="dropdown-menu dropdown">
      <mat-icon class="align-middle md-24 mt-4" color="#404B5A"
        >credit_card</mat-icon
      >
      <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
      <p class="text-justify">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
        standard de l'imprimerie depuis les années 1500, quand un imprimeur
        anonyme assembla ensemble des morceaux de texte pour réaliser un livre
        spécimen de polices de texte.
      </p>
    </div>
  </div>
  <div class="btn-group d-block">
    <button
      class="btn btn-light border-bottom-0 d-flex justify-content-between align-items-center"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="align-middle md-18" color="primary"
        >credit_card</mat-icon
      >
      Le service ABC Salles est-il payant ?
      <mat-icon class="md-18 align-middle" color="white" matDatepickerToggleIcon
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="dropdown-menu dropdown">
      <mat-icon class="align-middle md-24 mt-4" color="#404B5A"
        >credit_card</mat-icon
      >
      <h3 class="mt-3">Le service ABC Salles est-il payant ?</h3>
      <p class="text-justify">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
        standard de l'imprimerie depuis les années 1500, quand un imprimeur
        anonyme assembla ensemble des morceaux de texte pour réaliser un livre
        spécimen de polices de texte.
      </p>
    </div>
  </div>
</div> -->
<div class="containerFaq d-none d-lg-none d-xl-block">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Le service d'ABC Salles est-il payant ?
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Le service d'ABC Salles est-il payant ?
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Le service d'ABC Salles est-il payant ?
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>
