<mat-dialog-content>
  <div class="col d-flex justify-content-between">
    <h1 mat-dialog-title>
      Formule avancée
    </h1>
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
  <div class="col breadCrumd mt-0">
    <ul class="nav align-items-baseline">
      <li class="nav-item align">
        <a class="nav-link activeNavButton" href="#"
          >Salles de Séminaire et réunion en France<mat-icon
            class="md-24 d-inline align-middle activeNavButton"
            color="#7C7878"
            matDatepickerToggleIcon
            >keyboard_arrow_right</mat-icon
          ></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link activeNavButton" href="#"
          >Caugé<mat-icon
            class="md-24 d-inline align-middle"
            color="#7C7878"
            matDatepickerToggleIcon
            >keyboard_arrow_right</mat-icon
          ></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Manoir HENRI IV</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <p>Valable les lundis, jeudi et vendredi</p>
  </div>
</mat-dialog-content>
<mat-dialog-content>
  <div class="col d-flex justify-content-around mt-4 mb-4">
    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-48">event</mat-icon>
      <h4 class="mt-4 mb-0">Type d'événement</h4>
      <span>Professionnel</span>
    </div>

    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-48">query_builder</mat-icon>
      <h4 class="mt-4 mb-0">Durée</h4>
      <span>2 jours 8 heures 1 nuit</span>
    </div>

    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-48">group</mat-icon>
      <h4 class="mt-4 mb-0">Taille du groupe</h4>
      <span>10 à 50 personnes</span>
    </div>
  </div>
  <div class="col">
    <h2>Description</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus id,
      deserunt consequuntur quae voluptatem alias dicta cupiditate aut hic
      doloribus, eius placeat. Laboriosam at repellat ratione! Quam sit magnam
      ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
      labore dolorem qui cumque voluptates consequatur excepturi voluptatem eos
      ab tempore laboriosam consequuntur aperiam magnam, voluptas commodi
      necessitatibus architecto exercitationem perspiciatis!
    </p>
  </div>
  <div
    class="col bigContainerCardRestauration d-flex flex-wrap justify-content-around"
  >
    <h2>Restauration</h2>
    <div class="containerCardRestauration d-flex flex-column">
      <div class="topContainerCard d-flex justify-content-between">
        <div
          class="leftContent d-flex align-items-center justify-content-center"
        >
          <mat-icon>local_dining</mat-icon>
        </div>
        <div
          class="rightContent d-flex justify-content-center align-items-center flex-column"
        >
          <h4 class="m-0">Plateau repas</h4>
          <span>80 € par personne</span>
        </div>
      </div>
      <div class="mainContent">
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Entrée</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Plat</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Dessert</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Pain</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>1/4 vin ou bouteille d'eau</span>
        </div>
      </div>
    </div>

    <!-- SECOND CARD -->

    <div class="containerCardRestauration d-flex flex-column">
      <div class="topContainerCard d-flex justify-content-between">
        <div
          class="leftContent d-flex align-items-center justify-content-center"
        >
          <mat-icon>local_dining</mat-icon>
        </div>
        <div
          class="rightContent d-flex justify-content-center align-items-center flex-column"
        >
          <h4 class="m-0">Collation (matin)</h4>
          <span>5€ par personne</span>
        </div>
      </div>
      <div class="mainContent">
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Café et/ou Thé</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Jus de fruit frais</span>
        </div>
        <div class="containerItem d-flex align-items-center pl-2">
          <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
          <span>Viennoiseries</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col mt-4">
    <h2>Hébergement</h2>
    <div
      class="containerInfoHebergement d-flex justify-content-between flex-wrap"
    >
      <div class="containerItemHebergement">
        <span>
          12 chambres au total
        </span>
      </div>
      <div class="containerItemHebergement">
        <span>
          1 nuit minimum
        </span>
      </div>
      <div class="containerItemHebergement">
        <span>
          Check-in 11h / Check-out 11h
        </span>
      </div>
      <div class="containerItemHebergement">
        <span>
          4 couchages minimum
        </span>
      </div>
    </div>
    <div class="col d-flex justify-content-around p-0 mt-4 flex-wrap">
      <div
        class="containerCardLogement simpleBed d-flex flex-column align-items-center mb-3"
      >
        <h3 class="p-0 mt-3">Lit simple</h3>
        <div class="imgCardLogement"></div>
        <h3 class="mt-2 mb-0 p-0">4 offres</h3>
        <span class="mb-4">À partir de 150 €</span>
        <button class="detailsCardLogement">Détails</button>
      </div>

      <div
        class="containerCardLogement doubleBed d-flex flex-column align-items-center mb-3"
      >
        <h3 class="p-0 mt-3">Lit double</h3>
        <div class="imgCardLogement"></div>
        <h3 class="mt-2 mb-0 p-0">4 offres</h3>
        <span class="mb-4">À partir de 150 €</span>
        <button class="detailsCardLogement">Détails</button>
      </div>

      <div
        class="containerCardLogement twinBed d-flex flex-column align-items-center"
      >
        <h3 class="p-0 mt-3">Lit twins</h3>
        <div class="imgCardLogement"></div>
        <h3 class="mt-2 mb-0 p-0">4 offres</h3>
        <span class="mb-4">À partir de 150 €</span>
        <button class="detailsCardLogement">Détails</button>
      </div>
    </div>
  </div>
  <div class="col">
    <h2>Équipements</h2>
    <div class="col d-flex justify-content-between mt-3 mb-4">
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">Wifi</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24">wifi</mat-icon>
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">Frigo</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >kitchen</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">Tableau blanc</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >assignment</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">Micro</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24">mic</mat-icon>
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">Téléphone</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24">call</mat-icon>
      </div>
    </div>
  </div>
  <div class="col mediumMarginTopContainer">
    <h2 class="mediumMarginBottomContainer">Activités</h2>
    <div class="col d-flex justify-content-between mt-3 mb-4">
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">1km</span>
        </div>
        <div class="captionButtonActivity d-none d-sm-block">
          <span class="captionSquareButtonIcon">Football</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >sports_soccer</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">1km</span>
        </div>
        <div class="captionButtonActivity d-none d-sm-block">
          <span class="captionSquareButtonIcon">Tennis</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >sports_tennis</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">1km</span>
        </div>
        <div class="captionButtonActivity d-none d-sm-block">
          <span class="captionSquareButtonIcon">Baseball</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >sports_baseball</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">1km</span>
        </div>
        <div class="captionButtonActivity d-none d-sm-block">
          <span class="captionSquareButtonIcon">Basket-Ball</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >sports_basketball</mat-icon
        >
      </div>
      <div class="squareButtonIcon">
        <div class="captionButton d-none d-sm-block">
          <span class="captionSquareButtonIcon">1km</span>
        </div>
        <div class="captionButtonActivity d-none d-sm-block">
          <span class="captionSquareButtonIcon">Volley Ball</span>
        </div>
        <mat-icon color="primary" class="iconSquareButton md-24"
          >sports_volleyball</mat-icon
        >
      </div>
    </div>
  </div>
  <div class="col containerModalité mediumMarginTopContainer">
    <h2>Modalités</h2>
    <p>Cette formule est soumise à des conditions :</p>
    <p>Acompte : 20% du total</p>
    <p>Caution : 100 €</p>
  </div>
  <div class="col containerTarif">
    <h2>Tarifs</h2>
    <p>À partir de 100 € par personne (haute saison)</p>
    <p>À partir de 80 € par personne (basse saison)</p>
  </div>
</mat-dialog-content>
