<button mat-dialog-close type = "button" class="float-right close" aria-label="Close">
    <mat-icon class="md-24">close</mat-icon>
</button>

<h2 mat-dialog-title><mat-icon class="align-middle mr-3" color="primary">group</mat-icon>Les participants</h2>
<mat-dialog-content maxWidth = "50vw"><h3>Qu'est ce que la fourchette des participants</h3></mat-dialog-content>
<mat-dialog-content>
    Le lorem ipsum est, en imprimerie, une suite de mots sans signification
     utilisée à titre provisoire pour calibrer une mise en page, le texte définitif 
     venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. 
     Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
</mat-dialog-content>
