<mat-dialog-content>
  <div class="col d-flex justify-content-between">
    <h1 mat-dialog-title>
      Twins room
    </h1>
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
  <div class="containerImg"></div>
  <div class="col d-flex justify-content-around mt-4 mb-4">
    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-36">single_bed</mat-icon>
      <h4 class="mt-1 mb-0">Type de chambre</h4>
      <span>Twins</span>
    </div>

    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-36">people_alt</mat-icon>
      <h4 class="mt-1 mb-0">Capacité</h4>
      <span>2 personnes</span>
    </div>

    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-36">single_bed</mat-icon>
      <h4 class="mt-1 mb-0">Chambre disponible</h4>
      <span>12 chambres twins</span>
    </div>

    <div class="containerInfo d-flex align-items-center flex-column">
      <mat-icon color="primary" class="md-36">euro</mat-icon>
      <h4 class="mt-1 mb-0">Tarif</h4>
      <span>À partir de 40€ la nuit</span>
    </div>
  </div>
  <div class="col">
    <h2>Description</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus id,
      deserunt consequuntur quae voluptatem alias dicta cupiditate aut hic
      doloribus, eius placeat. Laboriosam at repellat ratione! Quam sit magnam
      ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
      labore dolorem qui cumque voluptates consequatur excepturi voluptatem eos
      ab tempore laboriosam consequuntur aperiam magnam, voluptas commodi
      necessitatibus architecto exercitationem perspiciatis!
    </p>
  </div>
  <div class="col d-flex justify-content-between serviceContainer flex-wrap">
    <h2>Les services</h2>
    <div class="containerService d-flex flex-column">
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Service d'étage</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Conciergerie</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Pressing</span>
      </div>
    </div>
    <div class="containerService d-flex flex-column">
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
    </div>
    <div class="containerService d-flex flex-column">
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
    </div>
  </div>
  <div
    class="col d-flex justify-content-between serviceContainer flex-wrap mt-3"
  >
    <h2>Les équipements</h2>
    <div class="containerService d-flex flex-column">
      <h4>Chambre</h4>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Télévision écran plat</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
    </div>
    <div class="containerService d-flex flex-column">
      <h4>Multimédia - Technologie</h4>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
    </div>
    <div class="containerService d-flex flex-column">
      <h4>Salle de bain</h4>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
      <div class="containerItem d-flex align-items-center pl-2">
        <mat-icon color="primary" class="mr-2">check_circle </mat-icon>
        <span>Entrée</span>
      </div>
    </div>
  </div>
  <div class="col mt-3">
    <h2>Tarif par nuit</h2>
    <p>À partir de 40€ nuit en basse saison</p>
    <p>À partir de 90€ nuit en basse saison</p>
  </div>
</mat-dialog-content>
