<!-- <header>
  <nav class="d-flex justify-content-center align-items-center flex-wrap">
    <a href="/devis/brief">Brief</a>
    <a href="/devis/info-complementaire">Info-complementaire</a>
    <a href="/devis/info-complementaire2">Info-complementaire2</a>
    <a href="/devis/confirmation">Confirmation</a>
    <a href="/devis/fichelieu">Fiche Lieu</a>
    <a href="/devis/autoref">Autoref</a>
    <a href="/devis/testwidget">Test widget</a>
    <a href="/devis/homewebzine">Home webzine</a>
    <a href="/devis/article-page">Article Page</a>
    <a href="/devis/webzine-actu">Actualité webzine</a>
    <a href="/devis/agenda">Agenda</a>
  </nav>
</header> -->

<div class="">
  <router-outlet> </router-outlet>
  <!-- <app-homewebzine ></app-homewebzine> -->

  <!-- (darkModeSwitched)="switchMode($event)" -->
</div>
