.containerAddRemoveButton {
  position: relative;
}

.containerAddRemoveButton input {
  text-align: center !important;
  height: 2rem;
}

.containerAddRemoveButton button {
  // position: absolute;
  background: none !important;
  border: none !important;
  cursor: pointer;
}

// .containerAddRemoveButton .plusButton
// {
//     bottom: 0;
//     right: 0px;
// }

.buttonCloseModal {
  background: none !important;
  border: none !important;
  cursor: pointer;
}
