<div class="mat-typography container">
  <div class="row">
    <div class="col breadCrumd">
      <ul class="nav align-items-baseline">
        <li class="nav-item align">
          <a class="nav-link disabled" href="#"
            >Brief
            <mat-icon
              class="md-24 d-inline align-middle"
              color="#7C7878"
              matDatepickerToggleIcon
              >keyboard_arrow_right</mat-icon
            ></a
          >
        </li>
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link activeNavButton" href="#"
            >Informations complémentaires
            <mat-icon
              class="md-24 d-inline align-middle activeNavButton"
              color="#7C7878"
              matDatepickerToggleIcon
              >keyboard_arrow_right</mat-icon
            ></a
          >
        </li>
        <li class="nav-item d-block d-sm-none">
          <a class="nav-link activeNavButton" href="#"
            >Détails<mat-icon
              class="md-24 d-inline align-middle activeNavButton"
              color="#7C7878"
              matDatepickerToggleIcon
              >keyboard_arrow_right</mat-icon
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Confirmation</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <!-- containerRoomFeatures  col-sm-12 col-lg-7-->
      <h2>Cette salle est prévue pour :</h2>
      <!-- <mat-form-field class="textareaButton roomSection d-xs-flex justify-content-center justify-content-sm-start" appearance="outline" class="d-xs-flex justify-content-center justify-content-sm-start">
                <mat-label>De quelle capacité avez-vous besoin ?</mat-label>
                <textarea matInput placeholder="J'ai besoin de 267 chaises et 1557 tables"></textarea>
            </mat-form-field> -->
      <!-- <div class="containerAddRemoveButton">
        <button type="button" (click)="minus()" class="minusButton">
          <mat-icon class="md-18 d-inline align-middle" color="primary"
            >remove_circle_outline</mat-icon
          >
        </button>
        <input
          type="text"
          [value]="
            quantity === 0 ? quantity + participant : quantity + participants
          "
        />
        <button type="button" (click)="plus()" class="plusButton">
          <mat-icon class="md-18 d-inline align-middle" color="primary"
            >add_circle_outline</mat-icon
          >
        </button>
      </div> -->
      <mat-form-field appearance="outline" class="">
        <mat-label>Nombre de participant(s)</mat-label>
        <mat-select>
          <mat-option value="0">0</mat-option>

          <mat-option value="">1</mat-option>
          <mat-option value="">2</mat-option>
          <mat-option value="">3</mat-option>
          <mat-option value="">4</mat-option>
          <mat-option value="">5</mat-option>
          <mat-option value="">6</mat-option>
          <mat-option value="">7</mat-option>
          <mat-option value="">8</mat-option>
          <mat-option value="">9</mat-option>
          <mat-option value="">10</mat-option>
          <mat-option value="">11</mat-option>
          <mat-option value="">12</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2>Je souhaite une disposition en :</h2>
      <mat-button-toggle-group
        #toggleGroup="matButtonToggleGroup"
        class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
      >
        <mat-button-toggle
          matTooltip="En réunion"
          aria-label="Button that displays a tooltip when focused or hovered over"
          disableRipple
          value="Séminaire"
          class="buttonDisposition"
        >
          <!-- <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >date_range</mat-icon
          > -->
          <svg
            class="svgChecked"
            width="31"
            height="20"
            viewBox="0 0 31 20"
            fill="black"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M22.0346 20.0002C21.0985 20.0002 20.3397 19.2413 20.3397 18.3053C20.3397 17.3692 21.0985 16.6104 22.0346 16.6104C22.9707 16.6104 23.7295 17.3692 23.7295 18.3053C23.7295 19.2413 22.9707 20.0002 22.0346 20.0002Z"
                fill="black"
              />
              <path
                d="M17.6283 20.0002C16.6923 20.0002 15.9334 19.2413 15.9334 18.3053C15.9334 17.3692 16.6923 16.6104 17.6283 16.6104C18.5644 16.6104 19.3232 17.3692 19.3232 18.3053C19.3232 19.2413 18.5644 20.0002 17.6283 20.0002Z"
                fill="black"
              />
              <path
                d="M13.2211 20.0002C12.285 20.0002 11.5262 19.2413 11.5262 18.3053C11.5262 17.3692 12.285 16.6104 13.2211 16.6104C14.1572 16.6104 14.916 17.3692 14.916 18.3053C14.916 19.2413 14.1572 20.0002 13.2211 20.0002Z"
                fill="black"
              />
              <path
                d="M8.81388 20.0002C7.8778 20.0002 7.11896 19.2413 7.11896 18.3053C7.11896 17.3692 7.8778 16.6104 8.81388 16.6104C9.74995 16.6104 10.5088 17.3692 10.5088 18.3053C10.5088 19.2413 9.74995 20.0002 8.81388 20.0002Z"
                fill="black"
              />
              <path
                d="M3.39081 10.1695C3.39081 11.1056 2.63197 11.8644 1.69589 11.8644C0.759816 11.8644 0.000976562 11.1056 0.000976562 10.1695C0.000976562 9.23345 0.759816 8.47461 1.69589 8.47461C2.63197 8.47461 3.39081 9.23345 3.39081 10.1695Z"
                fill="black"
              />
              <path
                d="M30.1701 10.1695C30.1701 11.1056 29.4113 11.8644 28.4752 11.8644C27.5391 11.8644 26.7803 11.1056 26.7803 10.1695C26.7803 9.23345 27.5391 8.47461 28.4752 8.47461C29.4113 8.47461 30.1701 9.23345 30.1701 10.1695Z"
                fill="black"
              />
              <path d="M4 4H26V16H4V4Z" fill="black" />
              <path
                d="M21.6947 3.38983C20.7587 3.38983 19.9998 2.63099 19.9998 1.69492C19.9998 0.758839 20.7587 0 21.6947 0C22.6308 0 23.3896 0.758839 23.3896 1.69492C23.3896 2.63099 22.6308 3.38983 21.6947 3.38983Z"
                fill="black"
              />
              <path
                d="M17.2885 3.38983C16.3524 3.38983 15.5936 2.63099 15.5936 1.69492C15.5936 0.758839 16.3524 0 17.2885 0C18.2246 0 18.9834 0.758839 18.9834 1.69492C18.9834 2.63099 18.2246 3.38983 17.2885 3.38983Z"
                fill="black"
              />
              <path
                d="M12.8813 3.38983C11.9452 3.38983 11.1863 2.63099 11.1863 1.69492C11.1863 0.758839 11.9452 0 12.8813 0C13.8173 0 14.5762 0.758839 14.5762 1.69492C14.5762 2.63099 13.8173 3.38983 12.8813 3.38983Z"
                fill="black"
              />
              <path
                d="M8.47499 3.38983C7.53891 3.38983 6.78007 2.63099 6.78007 1.69492C6.78007 0.758839 7.53891 0 8.47499 0C9.41108 0 10.1699 0.758839 10.1699 1.69492C10.1699 2.63099 9.41108 3.38983 8.47499 3.38983Z"
                fill="black"
              />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  width="30.1695"
                  height="20"
                  fill="white"
                  transform="matrix(-1 0 0 1 30.1699 0)"
                />
              </clipPath>
            </defs>
          </svg>

          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En réunion</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Séminaire"
          matTooltip="En conférence"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >wb_sunny</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En conférence</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Séminaire"
          matTooltip="En U"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >ac_unit</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En U</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Séminaire"
          matTooltip="En cocktail"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >euro</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En cocktail</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Séminaire"
          matTooltip="En banquet"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >local_cafe</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En banquet</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Séminaire"
          matTooltip="En classe"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >local_cafe</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >En classe</label
          >
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2>J'ai des besoins spécifiques :</h2>
      <mat-button-toggle-group
        class="yesNoButton d-xs-flex justify-content-center justify-content-sm-start"
        #toggleYesNo="matButtonToggleGroup"
      >
        <mat-button-toggle
          (click)="displaySpecificNeed()"
          disableRipple
          value=""
          >Oui</mat-button-toggle
        >
        <mat-button-toggle (click)="closeSpecificNeed()" disableRipple value=""
          >Non</mat-button-toggle
        >
      </mat-button-toggle-group>
      {{ toggleYesNo.value }}
    </div>
  </div>
  <div class="row" *ngIf="isDisplaySpecificNeed">
    <div class="col">
      <mat-button-toggle-group
        #toggleGroup="matButtonToggleGroup"
        class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
        multiple
      >
        <mat-button-toggle
          matTooltip="Écran"
          aria-label="Button that displays a tooltip when focused or hovered over"
          disableRipple
          value="Écran"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >tv</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >Écran</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Bluetooth"
          matTooltip="Bluetooth"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >bluetooth</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >Bluetooth</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Frigo"
          matTooltip="Frigo"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >kitchen</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >Frigo</label
          >
        </mat-button-toggle>
        <mat-button-toggle
          disableRipple
          value="Wifi"
          matTooltip="Wifi"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon class="md-30" color="black" matDatepickerToggleIcon
            >wifi</mat-icon
          >
          <label class="labelButtonToggle d-xs-block d-lg-none" for=""
            >Wifi</label
          >
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2>J’ai besoin d'une salle similaire :</h2>
      <mat-button-toggle-group
        class="yesNoButton d-xs-flex justify-content-center justify-content-sm-start"
        #toggleYesNo="matButtonToggleGroup"
      >
        <mat-button-toggle
          (click)="displayModalHosting()"
          disableRipple
          value=""
          >Oui</mat-button-toggle
        >
        <mat-button-toggle
          (click)="closeDisplayModalHosting()"
          disableRipple
          value=""
          >Non</mat-button-toggle
        >
      </mat-button-toggle-group>
      {{ toggleYesNo.value }}
    </div>
  </div>
  <div class="row" *ngIf="isDisplayHosting">
    <div class="col-lg-5 col-sm-12">
      <!-- <div class="containerAddRemoveButton">
        <button type="button" (click)="minus()" class="minusButton">
          <mat-icon class="md-18 d-inline align-middle" color="primary"
            >remove_circle_outline</mat-icon
          >
        </button>
        <input type="text" [value]="quantity" />
        <button type="button" (click)="plus()" class="plusButton">
          <mat-icon class="md-18 d-inline align-middle" color="primary"
            >add_circle_outline</mat-icon
          >
        </button>
      </div> -->
      <mat-form-field appearance="outline" class="">
        <mat-label>Nombre de salle similaire</mat-label>
        <mat-select>
          <mat-option value="0">0</mat-option>

          <mat-option value="">1</mat-option>
          <mat-option value="">2</mat-option>
          <mat-option value="">3</mat-option>
          <mat-option value="">4</mat-option>
          <mat-option value="">5</mat-option>
          <mat-option value="">6</mat-option>
          <mat-option value="">7</mat-option>
          <mat-option value="">8</mat-option>
          <mat-option value="">9</mat-option>
          <mat-option value="">10</mat-option>
          <mat-option value="">11</mat-option>
          <mat-option value="">12</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div class="col">
        <h3>Nombre de couchage</h3>
        <mat-form-field appearance="outline">
          <mat-label>Rentrez le nombre de couchage</mat-label>
          <input matInput type="number" class="example-right-align" />
          <mat-icon
            style="position: absolute; right: 0px; top: 20%;"
            color="primary"
            class="md-18"
            >king_bed</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col">
        <h3>Type de chambre</h3>
        <mat-form-field appearance="outline">
          <mat-label>Lit simple</mat-label>
          <input matInput type="number" class="example-right-align" />
          <mat-icon
            style="position: absolute; right: 0px; top: 20%;"
            color="primary"
            class="md-18"
            >king_bed</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lit double</mat-label>
          <input matInput type="number" class="example-right-align" />
          <mat-icon
            style="position: absolute; right: 0px; top: 20%;"
            color="primary"
            class="md-18"
            >king_bed</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lit twins</mat-label>
          <input matInput type="number" class="example-right-align" />
          <mat-icon
            style="position: absolute; right: 0px; top: 20%;"
            color="primary"
            class="md-18"
            >king_bed</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col">
        <h3>Avez-vous un besoin particulier ?</h3>
        <mat-form-field class="textareaButton" appearance="outline">
          <mat-label>Détaillez vos besoins</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
      </div> -->
    </div>
    <!-- <div class="col-8 d-flex justify-content-end mt-4">
            <button mat-raised-button color="primary">Continuer</button>
        </div> -->
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2>J’ai besoin d’une autre salle :</h2>
      <mat-button-toggle-group
        class="yesNoButton d-xs-flex justify-content-center justify-content-sm-start"
        #toggleYesNo="matButtonToggleGroup"
      >
        <mat-button-toggle (click)="displayModalRoom()" disableRipple value=""
          >Oui</mat-button-toggle
        >
        <mat-button-toggle (click)="closeModalRoom()" disableRipple value=""
          >Non</mat-button-toggle
        >
      </mat-button-toggle-group>
      {{ toggleYesNo.value }}
    </div>
  </div>

  <!-- here -->
  <div class="row">
    <div *ngIf="isDisplayModalRoom" class="col-lg-5 col-sm-12 modalRoom">
      <div class="col">
        <h3>Cette salle est prévue pour :</h3>
        <mat-form-field appearance="outline" class="">
          <mat-label>Nombre de participant(s)</mat-label>
          <mat-select>
            <mat-option value="0">0</mat-option>

            <mat-option value="">1</mat-option>
            <mat-option value="">2</mat-option>
            <mat-option value="">3</mat-option>
            <mat-option value="">4</mat-option>
            <mat-option value="">5</mat-option>
            <mat-option value="">6</mat-option>
            <mat-option value="">7</mat-option>
            <mat-option value="">8</mat-option>
            <mat-option value="">9</mat-option>
            <mat-option value="">10</mat-option>
            <mat-option value="">11</mat-option>
            <mat-option value="">12</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col mt-3">
        <h3>Je souhaite une disposition en :</h3>
        <mat-button-toggle-group
          #toggleGroup="matButtonToggleGroup"
          class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
        >
          <mat-button-toggle
            matTooltip="En réunion"
            aria-label="Button that displays a tooltip when focused or hovered over"
            disableRipple
            value="Séminaire"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >date_range</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En réunion</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En conférence"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >wb_sunny</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En conférence</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En U"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >ac_unit</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En U</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En cocktail"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >euro</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En cocktail</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En banquet"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >local_cafe</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En banquet</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En classe"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >local_cafe</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En classe</label
            >
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col">
        <h3>J'ai des besoins spécifiques :</h3>
        <mat-button-toggle-group
          #toggleGroup="matButtonToggleGroup"
          multiple
          class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
        >
          <mat-button-toggle
            matTooltip="Écran"
            aria-label="Button that displays a tooltip when focused or hovered over"
            disableRipple
            value="Écran"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >tv</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Écran</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Bluetooth"
            matTooltip="Bluetooth"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >bluetooth</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Bluetooth</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Frigo"
            matTooltip="Frigo"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >kitchen</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Frigo</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Wifi"
            matTooltip="Wifi"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >wifi</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Wifi</label
            >
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col">
        <h3>J'ai besoin d'une salle similaire :</h3>
        <mat-form-field appearance="outline" class="">
          <mat-label>Nombre de salle similaire</mat-label>
          <mat-select>
            <mat-option value="0">0</mat-option>

            <mat-option value="">1</mat-option>
            <mat-option value="">2</mat-option>
            <mat-option value="">3</mat-option>
            <mat-option value="">4</mat-option>
            <mat-option value="">5</mat-option>
            <mat-option value="">6</mat-option>
            <mat-option value="">7</mat-option>
            <mat-option value="">8</mat-option>
            <mat-option value="">9</mat-option>
            <mat-option value="">10</mat-option>
            <mat-option value="">11</mat-option>
            <mat-option value="">12</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-flex d-flex justify-content-end mt-2 mb-2">
        <button (click)="addIsDisplayRoom()" class="addMeal" mat-flat-button>
          Ajouter une salle
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isDisplayRoom" class="col-lg-5 col-sm-12 modalRoom">
      <div class="col">
        <button
          (click)="closeIsDisplayRoom()"
          class="buttonCloseModal float-right"
        >
          <mat-icon color="primary" class="md-24">close</mat-icon>
        </button>
        <h3>Cette salle est prévue pour :</h3>
        <mat-form-field appearance="outline" class="">
          <mat-label>Nombre de participant(s)</mat-label>
          <mat-select>
            <mat-option value="0">0</mat-option>

            <mat-option value="">1</mat-option>
            <mat-option value="">2</mat-option>
            <mat-option value="">3</mat-option>
            <mat-option value="">4</mat-option>
            <mat-option value="">5</mat-option>
            <mat-option value="">6</mat-option>
            <mat-option value="">7</mat-option>
            <mat-option value="">8</mat-option>
            <mat-option value="">9</mat-option>
            <mat-option value="">10</mat-option>
            <mat-option value="">11</mat-option>
            <mat-option value="">12</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col mt-3">
        <h3>Je souhaite une disposition en :</h3>
        <mat-button-toggle-group
          #toggleGroup="matButtonToggleGroup"
          class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
        >
          <mat-button-toggle
            matTooltip="En réunion"
            aria-label="Button that displays a tooltip when focused or hovered over"
            disableRipple
            value="Séminaire"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >date_range</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En réunion</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En conférence"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >wb_sunny</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En conférence</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En U"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >ac_unit</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En U</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En cocktail"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >euro</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En cocktail</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En banquet"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >local_cafe</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En banquet</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Séminaire"
            matTooltip="En classe"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >local_cafe</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >En classe</label
            >
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col">
        <h3>J'ai des besoins spécifiques :</h3>
        <mat-button-toggle-group
          #toggleGroup="matButtonToggleGroup"
          multiple
          class="containerToggleGroup d-xs-flex justify-content-center justify-content-sm-start"
        >
          <mat-button-toggle
            matTooltip="Écran"
            aria-label="Button that displays a tooltip when focused or hovered over"
            disableRipple
            value="Écran"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >tv</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Écran</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Bluetooth"
            matTooltip="Bluetooth"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >bluetooth</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Bluetooth</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Frigo"
            matTooltip="Frigo"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >kitchen</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Frigo</label
            >
          </mat-button-toggle>
          <mat-button-toggle
            disableRipple
            value="Wifi"
            matTooltip="Wifi"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            <mat-icon class="md-30" color="black" matDatepickerToggleIcon
              >wifi</mat-icon
            >
            <label class="labelButtonToggle d-xs-block d-lg-none" for=""
              >Wifi</label
            >
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col">
        <h3>J'ai besoin d'une salle similaire :</h3>
        <mat-form-field appearance="outline" class="">
          <mat-label>Nombre de salle similaire</mat-label>
          <mat-select>
            <mat-option value="0">0</mat-option>

            <mat-option value="">1</mat-option>
            <mat-option value="">2</mat-option>
            <mat-option value="">3</mat-option>
            <mat-option value="">4</mat-option>
            <mat-option value="">5</mat-option>
            <mat-option value="">6</mat-option>
            <mat-option value="">7</mat-option>
            <mat-option value="">8</mat-option>
            <mat-option value="">9</mat-option>
            <mat-option value="">10</mat-option>
            <mat-option value="">11</mat-option>
            <mat-option value="">12</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-flex d-flex justify-content-end mt-2 mb-2">
        <button (click)="addIsDisplayRoom()" class="addMeal" mat-flat-button>
          Ajouter une salle
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 d-flex justify-content-end">
      <div class="">
        <button class="buttonContinue" mat-raised-button color="primary">
          <a href="">Continuer</a>
        </button>
      </div>
    </div>
  </div>
  <app-faq></app-faq>
  <app-svg></app-svg>
</div>
