.container {
  margin-left: inherit !important;
  margin-right: inherit !important;
  max-width: 100% !important;
  padding: 0 5% !important;
}
.containerHorizontalSlider {
  margin-left: inherit !important;
  margin-right: inherit !important;
  max-width: 100% !important;

  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 5% !important;
  padding-right: 0 !important;
}

.bigMarginTop {
  margin-top: 5.813rem !important;
}

a {
  text-transform: none;
  text-decoration: none;
  color: inherit !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 140%;
  color: #2b2b2b;
}

h2 {
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: bold;
  line-height: 140%;
  padding-left: 15px;
}

ul {
  margin: 0px !important;
  padding-inline-start: 0px !important;
}

.mat-icon {
  width: initial !important;
  height: initial !important;
}

.navbar {
  justify-content: initial !important;
}

p {
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
  color: #7c7c7c;
}

// MARGIN & PADDINGS

.bigMarginTop {
  margin-top: 4.5rem;
}
.bigMarginBottom {
  margin-bottom: 4.5rem !important;
}
.smallMarginBottom {
  margin-bottom: 2.25rem;
}
.bigPaddingTop {
  padding-top: 4.5rem !important;
}
.smallPaddingTop {
  padding-top: 2.5rem !important;
}
.mediumPaddingBottom {
  padding-bottom: 3rem !important;
}
.bigPaddingBottom {
  padding-bottom: 4.5rem;
}

// END MARGIN & PADDINGS
.nav-link.active {
  background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.navbar {
  padding: 0.5rem 0rem;
  margin-bottom: 2rem;

  ul {
    a {
      text-decoration: none;
      color: #adadad;
    }

    a.active:after {
      display: block;
      position: relative;
      top: 5px;
      left: 0;
      content: "";
      border-bottom: solid 2px #019fb6;
      transform: scaleX(0.5);
      transform-origin: 0% 50%;

      transition: transform 250ms ease-in-out;
    }
  }

  li {
    margin-right: 40px;
  }

  .containerRightContent {
    margin-left: auto;
    cursor: pointer;

    svg {
      width: 20px;
      margin-left: 20px;
    }
  }
}

a:hover:after {
  // transform-origin: 50% 100%;
  transform: scaleX(0.5);
}

// li :after {
//   transform-origin: 0% 50%;
// }

.imgContainer {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/10.jpg");
  border-radius: 20px;
}

.containerInfoItem {
  align-items: center;
  width: 89px;
  height: 34px;
  background: rgba(155, 155, 155, 0.1);
  border-radius: 5px;
  color: #7c7c7c;

  .mat-icon {
    width: initial !important;
    height: initial !important;
    color: #7c7c7c;
    margin-left: 6px;
  }
}

.discoverButton {
  width: 160px;
  height: 52px;
  background: #f7f7f7;
  // margin-top: 2.46875rem;
}

button.discoverButton {
  color: #2b2b2b !important;
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
}

.containerCaptionImageSlider {
  .captionImageSlider {
    width: 57px;
    height: 53px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.first {
      background-image: url("../../assets/img1.jpg");
    }

    &.second {
      background-image: url("../../assets/imageheader.png");
    }

    &.third {
      background-image: url("../../assets/img2.jpg");
    }

    &.fourth {
      background-image: url("../../assets/img3.jpg");
    }

    &:nth-child(2) {
      transform: scale(1.1);
      border: 2px solid #329494;
    }
  }

  .containerArrow {
    .arrow {
      width: 24px;
      height: 24px;
      background: #f7f7f7;
      border-radius: 100%;
      box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
        0px 2px 4px rgba(61, 61, 61, 0.12);
      cursor: pointer;
    }
  }
}

.containerArrow {
  .arrow {
    width: 24px;
    height: 24px;
    background: #f7f7f7;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    cursor: pointer;
  }
}

.containerArrowMobile {
  .arrow {
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    cursor: pointer;
  }
}

// HORIZONTAL SLIDER
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app li {
  color: inherit;
  padding-right: 16px;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs.full {
  padding: 0px;
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

// END HORIZONTAL SLIDER

// CARD EVENT

.row.containerEvent {
  margin-bottom: 0rem !important;
}

.containerCardEvent {
  width: 392px;
  height: 425px;

  .imgCardEvent {
    width: 100%;
    height: 255px;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative !important;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -moz-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
    }
  }

  .infoCardEvent {
    h4 {
      margin: 0;
      font-size: 1.125rem;
      line-height: 160%;
      font-weight: 500;
      letter-spacing: 0.25%;
    }

    :first-child {
      font-size: 0.875rem;
      line-height: 160%;
      letter-spacing: 0.15%;
      font-weight: 500;
      color: #329494;
    }

    .infoPosition {
      font-size: 0.875rem;
      line-height: 160%;
      letter-spacing: 0.25%;
      color: #2b2b2b;

      .mat-icon {
        color: #2b2b2b;
      }
    }
  }

  .containerButtonEvent {
    .calendarButton {
      font-size: 1rem;
      font-weight: 500;
      line-height: 180%;
      letter-spacing: 0.25%;
      width: 269px;
      height: 49px;
      margin-right: 12px;
      background: #f7f7f7;
      box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
        0px 2px 4px rgba(61, 61, 61, 0.12);
      border-radius: 10px;
      border: none;
      cursor: pointer;

      .mat-icon {
        padding-right: 10px;
      }
    }

    .previewButton {
      cursor: pointer;
      width: 65px;
      height: 49px;
      background: #f7f7f7;
      box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
        0px 2px 4px rgba(61, 61, 61, 0.12);
      border-radius: 10px;
      border: none;
    }
  }
}

// END CARD EVENT

// ANIMATION IMG
.imgCardEvent:hover img {
  // containerImgSelectedCards
  transform: scale(1.1);
  // -moz-transition: 0.5s ease;
  // -webkit-transition: 0.5s ease;
  // transition: 0.5s ease;
}

.containerViewTime {
  position: absolute;
  z-index: 3;
  top: 15px;
  color: white;

  background: rgba(255, 255, 255, 0.3); // border: none;
  width: 89px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.5s ease;
  opacity: 0;
  &.view {
    left: 15px;
  }
  &.time {
    left: 115px;
  }
}

.imgCardEvent:hover {
  .containerViewTime {
    opacity: 1;
  }
}

.imgCardEvent:before {
  content: "Découvrir" + " " + "\2192";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.imgCardEvent:hover:before {
  opacity: 1;
}

// END IMG ANIMATION

// CARD CATEGORY
.containerAllCardCategory {
  a {
    width: 15.66%;
  }
}
.containerCardCategory {
  width: 100%;
  height: 95px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  h3 {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
  }
  &.first {
    background: linear-gradient(
      142.58deg,
      rgba(255, 124, 124, 0.85) 0%,
      rgba(241, 176, 77, 0.7) 100%
    );
  }
  &.second {
    background: linear-gradient(
      142.58deg,
      rgba(126, 193, 255, 0.85) 0%,
      rgba(73, 115, 197, 0.7) 100%
    );
  }
  &.third {
    background: linear-gradient(
      142.58deg,
      rgba(166, 124, 255, 0.85) 0%,
      rgba(129, 50, 208, 0.7) 100%
    );
  }
  &.fourth {
    background: linear-gradient(
      142.58deg,
      rgba(255, 124, 124, 0.85) 0%,
      rgba(221, 56, 56, 0.7) 100%
    );
  }
  &.five {
    background: linear-gradient(
      142.58deg,
      rgba(127, 124, 255, 0.85) 0%,
      rgba(47, 33, 209, 0.7) 100%
    );
  }
  &.six {
    background: linear-gradient(
      142.58deg,
      rgba(255, 203, 124, 0.85) 0%,
      rgba(224, 148, 78, 0.7) 100%
    );
  }
  &.seven {
    background: linear-gradient(
      142.58deg,
      rgba(255, 124, 226, 0.85) 0%,
      rgba(202, 71, 173, 0.7) 100%
    );
  }
  &.eight {
    background: linear-gradient(
      142.58deg,
      rgba(150, 255, 124, 0.85) 0%,
      rgba(77, 184, 51, 0.7) 100%
    );
  }
  &.nine {
    background: linear-gradient(
      142.58deg,
      rgba(0, 56, 255, 0.85) 0%,
      rgba(0, 12, 116, 0.7) 100%
    );
  }
  &.ten {
    background: linear-gradient(
      142.58deg,
      rgba(124, 224, 255, 0.85) 0%,
      rgba(69, 189, 197, 0.7) 100%
    );
  }
  &.eleven {
    background: linear-gradient(
      142.58deg,
      rgba(250, 79, 79, 0.85) 0%,
      rgba(166, 0, 0, 0.7) 100%
    );
  }
  &.twelve {
    background: linear-gradient(
      142.58deg,
      rgba(79, 240, 95, 0.85) 0%,
      rgba(51, 205, 94, 0.7) 100%
    );
  }
}
// END CARD CATEGORY
