.iconQuestion {
  position: relative;
  transform: translateY(18%);
  cursor: pointer;
}

// input[type="time"]::-webkit-inner-spin-button,
// input[type="time"]::-webkit-outer-spin-button {
//   -webkit-appearance: none !important;
//   background-color: red !important;
// }

.mat-button-toggle {
  margin-right: 1rem;
  border-radius: 1.5rem;
  color: #d5dde5;
  font-weight: bold;
  width: 8rem;
  height: 2.2rem;
}

.mat-button-toggle-checked {
  color: white;
  background: linear-gradient(180deg, #329696 0%, #3cc3c3 100%);
  font-weight: bold;
}

.mat-grid-list {
  height: 35rem;
  width: 50rem;
  max-width: 100%;
}

.showToggleButton {
  width: 2rem;
  height: 2rem;
}

.showToggleButton .mat-icon {
  position: relative;
  left: -8px;
  top: 3px;
}

.containerForkInput {
  width: 18.75rem;
  height: 3.42rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.containerForkInput .forkInputButton {
  width: 50% !important;
  height: 100%;
  border: none !important;
  text-align: center;
}

.containerForkInput .forkInputButton.min {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
}
