$bg-theme-light: #fff;
$color-theme-light: #222;

$bg-theme-dark: #0c0c0c;
$color-theme-dark: rgba(255, 255, 255, 0.8);
$color-title-theme-dark: #fff;
$color-background-button-dark: #2b2b2b;
$color-background-footer: #2b2b2b;

.container {
  margin-left: inherit !important;
  margin-right: inherit !important;
  max-width: 100% !important;
  padding: 0 5% !important;
}

.theme-dark {
  background-color: $bg-theme-dark;
  h1 {
    color: $color-title-theme-dark !important;
  }

  span {
    color: $color-theme-dark;
    .mat-icon {
      color: $color-theme-dark;
    }
  }
  .discoverButton {
    background-color: $color-background-button-dark;
    color: $color-theme-dark !important;
  }
  .gridContainer {
    h2 {
      color: $color-title-theme-dark !important;
    }
    p {
      color: $color-theme-dark !important;
    }
  }
  .containerCardEvent {
    .infoCardEvent {
      h4 {
        color: $color-title-theme-dark !important;
      }
    }
    .infoPosition {
      color: $color-theme-dark !important;
      .mat-icon {
        color: $color-theme-dark !important;
      }
    }
  }

  // Mobile Card Event

  .containerCardEventMobile {
    background: $color-background-button-dark;
    .infoCardEvent {
      h4 {
        color: $color-title-theme-dark !important;
      }
    }
    .infoPosition {
      color: $color-theme-dark !important;
      .mat-icon {
        color: $color-theme-dark !important;
      }
    }

    .calendarButton,
    .previewButton {
      background-color: rgba(75, 74, 74, 0.6) !important;
    }
  }

  // End Mobile Card Event

  .calendarButton,
  .previewButton {
    background-color: $color-background-button-dark !important;
    color: $color-theme-dark !important;
    .mat-icon {
      color: $color-theme-dark !important;
    }
  }
}
.theme-dark.containerFooter {
  background-color: $color-background-footer !important;
  // background: $color-background-footer !important;
  p {
    color: $color-theme-dark !important;
  }
  h5 {
    color: $color-title-theme-dark !important;
  }
  .titleList {
    color: $color-title-theme-dark !important;
  }
  li {
    color: $color-theme-dark !important;
  }
  .legalInfo li,
  a {
    color: $color-theme-dark !important;
  }
}

.bigMarginTop {
  margin-top: 5.813rem !important;
}

// .theme-light {
//   background-color: $bg-theme-light;
//   h1 {
//     color: $color-theme-light !important;
//   }
// .backgroundBelow {
//   background-color: $color-theme-light;
// }
// }
a {
  text-transform: none;
  text-decoration: none;
  color: inherit !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 140%;
  color: #2b2b2b;
}

h2 {
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: bold;
  line-height: 140%;
  padding-left: 15px;
}

ul {
  margin: 0px !important;
  padding-inline-start: 0px !important;
}

.mat-icon {
  width: initial !important;
  height: initial !important;
}

.navbar {
  justify-content: initial !important;
}

p {
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
  color: #7c7c7c;
}

// .leftContent
// {
//   padding-right: 40px;
// }

// .rightContent {
//   padding-left: 40px;
// }

.nav-link.active {
  background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.navbar {
  padding: 0.5rem 0rem;
  margin-bottom: 64px;
  margin-top: 32px;

  .listNav {
    display: flex;
  }

  ul {
    a {
      text-decoration: none;
      color: #adadad;
      font-size: 16px;
    }

    a.active:after {
      display: block;
      position: relative;
      top: 5px;
      left: 0;
      content: "";
      border-bottom: solid 2px #019fb6;
      transform: scaleX(0.5);
      transform-origin: 0% 50%;

      transition: transform 250ms ease-in-out;
    }
  }

  li {
    margin-right: 40px;
  }

  .containerRightContent {
    margin-left: auto;
    cursor: pointer;

    svg {
      width: 20px;
      margin-left: 20px;
    }
  }
}

a:hover:after {
  // transform-origin: 50% 100%;
  transform: scaleX(0.5);
}

// li :after {
//   transform-origin: 0% 50%;
// }

.imgContainer {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/10.jpg");
  border-radius: 20px;
}

.containerInfoItem {
  align-items: center;
  width: 89px;
  height: 34px;
  background: rgba(155, 155, 155, 0.1);
  border-radius: 5px;
  color: #7c7c7c;

  .mat-icon {
    width: initial !important;
    height: initial !important;
    color: #7c7c7c;
    margin-left: 6px;
  }
}

.discoverButton {
  width: 160px;
  height: 52px;
  background: #f7f7f7;
  // margin-top: 2.46875rem;
}

button.discoverButton {
  color: #2b2b2b !important;
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
}

.containerCaptionImageSlider {
  .captionImageSlider {
    width: 57px;
    height: 53px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.first {
      background-image: url("../../assets/img1.jpg");
    }

    &.second {
      background-image: url("../../assets/imageheader.png");
    }

    &.third {
      background-image: url("../../assets/img2.jpg");
    }

    &.fourth {
      background-image: url("../../assets/img3.jpg");
    }

    &:nth-child(2) {
      transform: scale(1.1);
      border: 2px solid #329494;
    }
  }

  .containerArrow {
    .arrow {
      width: 24px;
      height: 24px;
      background: #f7f7f7;
      border-radius: 100%;
      box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
        0px 2px 4px rgba(61, 61, 61, 0.12);
      cursor: pointer;
    }
  }
}

.containerArrow {
  .arrow {
    width: 24px;
    height: 24px;
    background: #f7f7f7;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    cursor: pointer;
  }
}

.containerArrowMobile {
  .arrow {
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    cursor: pointer;
  }
}

.row.containerEvent {
  margin-bottom: 0rem !important;
}

.containerEvent {
  margin-top: 4.5rem;
  padding-bottom: 5.813rem;

  .containerCardEvent {
    width: 33%;
    height: auto;
    margin-bottom: 1rem;
    padding-right: 1rem;

    .imgCardEvent {
      width: 100%;
      height: 255px;
      -moz-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      position: relative !important;
      overflow: hidden;
      border-radius: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -moz-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
      }
    }

    .infoCardEvent {
      h4 {
        margin: 0;
        font-size: 1.125rem;
        line-height: 160%;
        font-weight: 500;
        letter-spacing: 0.25%;
      }

      :first-child {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.15%;
        font-weight: 500;
        color: #329494;
      }

      .infoPosition {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.25%;
        color: #2b2b2b;

        .mat-icon {
          color: #2b2b2b;
        }
      }
    }

    .containerButtonEvent {
      .calendarButton {
        font-size: 1rem;
        font-weight: 500;
        line-height: 180%;
        letter-spacing: 0.25%;
        width: 269px;
        height: 49px;
        margin-right: 12px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
        cursor: pointer;

        .mat-icon {
          padding-right: 10px;
        }
      }

      .previewButton {
        cursor: pointer;
        width: 65px;
        height: 49px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
      }
    }
  }

  .mobileContainer {
    a {
      width: 100%;
    }
  }

  .containerCardEventMobile {
    width: 100%;
    height: 410px;
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    border-radius: 20px;
    margin-bottom: 1rem;

    .imgCardEventMobile {
      width: 100%;
      height: 255px;
      border-radius: 20px 20px 0 0;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
      }
    }

    .infoCardEvent {
      padding: 0 16px;

      h4 {
        margin: 0;
        font-size: 1rem;
        line-height: 160%;
        font-weight: 500;
        letter-spacing: 0.25%;
      }

      :first-child {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.15%;
        font-weight: 500;
        color: #329494;
      }

      .infoPosition {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.25%;
        color: #2b2b2b;

        .mat-icon {
          color: #2b2b2b;
        }
      }
    }

    .containerButtonEvent {
      padding: 0 16px;

      .calendarButton {
        font-size: 1rem;
        font-weight: 500;
        line-height: 180%;
        letter-spacing: 0.25%;
        width: 269px;
        height: 49px;
        margin-right: 12px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
        cursor: pointer;

        .mat-icon {
          padding-right: 10px;
        }
      }

      .previewButton {
        cursor: pointer;
        width: 65px;
        height: 49px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
      }
    }
  }

  .discoverElements {
    cursor: pointer;
    width: 33%;
    height: 255px;
    background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    border-radius: 20px;

    h3 {
      color: white;
      font-size: 1.125rem;
      font-weight: 600;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }

  .discoverElementsMobile {
    cursor: pointer;
    width: 100%;
    height: 124px;
    background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    border-radius: 20px;

    h3 {
      color: white;
      font-size: 1.125rem;
      font-weight: 600;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }
}

// HORIZONTAL SLIDER
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app li {
  color: inherit;
  padding-right: 16px;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs.full {
  padding: 0px;
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

// END HORIZONTAL SLIDER

.containerCardGuide {
  cursor: pointer !important;
  width: 392px;
  height: 180px;
  color: white;
  font-size: 1.25;
  font-weight: bold;
  border-radius: 20px;

  &.first {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 124, 0.85) 0%,
      rgba(255, 198, 114, 0.7) 100%
    );
  }

  &.second {
    background: linear-gradient(
      145.77deg,
      rgba(124, 192, 255, 0.85) 0%,
      rgba(142, 114, 255, 0.7) 100%
    );
  }

  &.third {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 187, 0.85) 0%,
      rgba(255, 114, 114, 0.7) 100%
    );
  }

  &.fourth {
    background: linear-gradient(
      145.77deg,
      rgba(111, 242, 140, 0.85) 0%,
      rgba(114, 230, 255, 0.7) 100%
    );
  }
}

.containerCardGuideMobile {
  cursor: pointer !important;
  width: 100%;
  height: 86px;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.25;
  font-weight: bold;
  border-radius: 20px;

  &.first {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 124, 0.85) 0%,
      rgba(255, 198, 114, 0.7) 100%
    );
  }

  &.second {
    background: linear-gradient(
      145.77deg,
      rgba(124, 192, 255, 0.85) 0%,
      rgba(142, 114, 255, 0.7) 100%
    );
  }

  &.third {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 187, 0.85) 0%,
      rgba(255, 114, 114, 0.7) 100%
    );
  }

  &.fourth {
    background: linear-gradient(
      145.77deg,
      rgba(111, 242, 140, 0.85) 0%,
      rgba(114, 230, 255, 0.7) 100%
    );
  }
}

.containerFooter {
  // width: 100vw;
  padding: 2.938rem 3%;
  // height: 500px;
  background-color: #f7f7f7;

  .leftContent {
    img {
      width: 242px;
      margin-bottom: 2.5rem;
    }

    .containerSocial {
      svg {
        // width: 33px;
        margin-right: 26px;
      }
    }

    p {
      font-size: 1.125rem;
      letter-spacing: 0.0025em;
      line-height: 160%;
      color: #2b2b2b;
      padding-bottom: 2.5rem;
    }

    h5 {
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;

      letter-spacing: 0.0025em;

      color: #2b2b2b;
      padding-bottom: 1rem;
    }
  }

  .rightContent {
    ul {
      a {
        text-decoration: none !important;
      }

      .titleList {
        color: #2b2b2b;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 140%;
        padding-bottom: 2.375rem;
      }

      li,
      a {
        font-size: 1.125rem;
        line-height: 180%;
        letter-spacing: 0.25%;
        padding-bottom: 1.25rem;
        color: #2b2b2b;
      }
    }
  }

  .legalInfo {
    line-height: 166%;
    padding: 0 20px;
    /* identical to box height, or 27px */

    letter-spacing: 0.0035em;
    padding-top: 5.563rem;

    /* Grey scale / 1 */

    color: #2b2b2b;
    opacity: 0.75;

    a,
    li {
      text-decoration: none !important;
      color: #2b2b2b;
      cursor: pointer;
    }

    .espacerDot {
      padding: 0 1.5rem;
    }

    li.espacerDot {
      font-size: 3.5rem;
    }
  }
}

// GRID MICKA

.discoverElements {
  height: 100%;

  width: 100%;

  h3 {
    color: white;

    font-size: 1.6rem;

    font-weight: 600;
  }
}

.containerInfo2 {
  position: absolute;
  z-index: 150;
  display: flex;
  padding-top: 24px;
  padding-left: 32px;

  .containerInfoItem {
    z-index: 150;
    align-items: center;
    width: 89px;
    height: 34px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #ffffff;

    .mat-icon {
      z-index: 150;
      width: initial !important;
      height: initial !important;
      color: #ffffff;
      margin-left: 6px;
    }
  }
}

.overlayBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s all ease;
  border-radius: 20px;
  cursor: pointer;
}

.overlayBackground:hover {
  opacity: 1;
}

.backgroundImage {
  overflow: hidden;
  transition: 0.7s ease;
}

.imageArticle {
  transition: 0.3s;
  transform: scale(1.06);
}

.imageArticle:hover {
  transform: scale(1.06);
}

.title {
  margin-top: 93px;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 24px;
}

.titleInspiration {
  grid-column: 1/10;
  grid-row: 29/29;
  font-weight: 600;
  font-size: 24px;
}

.gridContainer {
  h2 {
    padding-left: 0px;
  }

  .backgroundImage {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .imageArticle {
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  .imageArticle:hover {
    transform: scale(1.06);
  }

  .mat-icon {
    color: #ffffff;
  }

  .titleArticle {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 500;
  }

  .containerText {
    display: flex;
    justify-content: space-between;

    .infoArticle {
      font-size: 13px;

      color: #2b2b2b;
    }

    .buttonArticle {
      height: 30px;
      width: 90px;
      border-radius: 4px;
      border: none;
      background-color: #f4f4f4;
      font-size: 12px;
      color: #2b2b2b;
      opacity: 0.6;
    }
  }

  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(56, 50px);
  grid-column-gap: 24px;
  grid-row-gap: 16px;

  .one {
    grid-column: 1/8;
    grid-row: 1/11;

  }

  .two {
    grid-column: 8/13;

    grid-row: 1/8;
  }

  .three {
    margin-top: 32px;
    grid-column: 1/8;
    grid-row: 12/20;
  }

  .four {
    margin-top: 32px;
    grid-column: 8/13;
    grid-row: 9/20;
  }

  .five {
    grid-column: 1/5;
    grid-row: 22/27;

  }

  .six {
    grid-column: 5/10;

    grid-row: 22/27;
  }

  .seven {
    grid-column: 10/13;
    grid-row: 22/27;

    .discoverElements {
      height: 100%;
      cursor: pointer;
      width: 100%;
      background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
      box-shadow: 0px8px24pxrgba (41, 41, 41, 0.08),
        0px2px4pxrgba (61, 61, 61, 0.12);
      border-radius: 20px;

      h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .mat-icon {
        color: #ffffff;
        vertical-align: middle;
      }
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }
    }
  }

  .height {
    grid-column: 1/8;
    grid-row: 30/35;
  }

  .nine {
    grid-column: 8/13;
    grid-row: 30/36;
  }

  .ten {
    grid-column: 1/6;
    grid-row: 37/47;
  }

  .eleven {
    grid-column: 6/13;
    grid-row: 38/49;
  }

  .twelve {
    grid-column: 1/5;
    grid-row: 49/55;
  }

  .thirteen {
    grid-column: 5/10;
    grid-row: 51/55;
  }

  .fourteen {
    grid-column: 10/13;
    grid-row: 51/55;

    .discoverElements {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
      box-shadow: 0px8px24pxrgba (41, 41, 41, 0.08),
        0px2px4pxrgba (61, 61, 61, 0.12);
      border-radius: 20px;

      h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .mat-icon {
        color: #ffffff;
        vertical-align: middle;
      }
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .gridContainer {
    .twelve {
      grid-column: 1/6;
      grid-row: 49/55;
    }

    .thirteen {
      display: none;
    }

    .fourteen {
      grid-column: 6/13;
      grid-row: 51/55;
    }

    .five {
      grid-column: 1/6;
      grid-row: 22/27;
    }

    .six {
      display: none;
    }

    .seven {
      grid-column: 6/13;
      grid-row: 22/27;
    }
  }
}

// ANIMATION IMG
.imgCardEvent:hover img {
  // containerImgSelectedCards
  transform: scale(1.1);
  // -moz-transition: 0.5s ease;
  // -webkit-transition: 0.5s ease;
  // transition: 0.5s ease;
}

.containerViewTime {
  position: absolute;
  z-index: 3;
  top: 15px;
  color: white;

  background: rgba(255, 255, 255, 0.3); // border: none;
  width: 89px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.5s ease;
  opacity: 0;
  &.view {
    left: 15px;
  }
  &.time {
    left: 115px;
  }
}

.imgCardEvent:hover {
  .containerViewTime {
    opacity: 1;
  }
}

.imgCardEvent:before {
  content: "Découvrir" + " " + "\2192";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.imgCardEvent:hover:before {
  opacity: 1;
}

// END IMG ANIMATION

@media screen and (min-width: 320px) and (max-width: 768px) {
  .gridContainer {
    grid-template-rows: repeat(47, 50px);
    grid-column-gap: 24px;
    grid-row-gap: 8px;

    .one {
      grid-column: 1/13;
      grid-row: 1/8;
    }

    .two {
      display: none;
    }

    .three {
      grid-row: 9/17;
      grid-column: 1/13;
    }

    .four {
      display: none;
    }

    .five {
      display: none;
    }

    .six {
      display: none;
    }

    .seven {
      grid-column: 1/13;
      grid-row: 19/22;
    }

    .titleInspiration {
      grid-column: 1/13;
      grid-row: 24/24;
    }

    .height {
      grid-column: 1/13;
      grid-row: 25/32;
    }

    .nine {
      display: none;
    }

    .ten {
      grid-column: 1/13;
      grid-row: 34/42;
    }

    .eleven {
      display: none;
    }

    .twelve {
      display: none;
    }

    .thirteen {
      display: none;
    }

    .fourteen {
      grid-row: 44/47;
      grid-column: 1/13;
    }
  }
}

// END GRID MICKA

@media (min-width: 1200px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 993px) and (max-width: 1100px) {
  .rightContent {
    .imgContainer {
      height: 60vh;
    }
  }
}

@media (min-width: 360px) and (max-width: 1024px) {
  .rightContent {
    .imgContainer {
      height: 40vh;
    }
  }
}

// CARD EVENT RESPONSIVE

@media (min-width: 700px) and (max-width: 992px) {
  .containerCardEvent {
    width: 50% !important;
  }
  .discoverElements {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 700px) {
  .containerCardEvent {
    width: 100% !important;
  }
  .discoverElements {
    width: 100% !important;
  }
}

//
@media (min-width: 450px) and (max-width: 888px) {
  .containerAllCardEvent {
    justify-content: space-around !important;
  }
}

// END CARD EVENT RESPONSIVE

// RESPONSIVE FOOTER

@media (max-width: 1150px) {
  .listNav {
    display: none !important;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .containerFooter {
    .rightContent.col {
      flex-basis: inherit !important;
    }
    .rightContent {
      margin-top: 2.813rem;
    }
  }
}

// END RESPONSIVE FOOTER
