h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 140%;
  color: #2b2b2b;
}

h2 {
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: bold;
  line-height: 140%;
  padding-left: 15px;
}

ul {
  margin: 0px !important;
}

.mat-icon {
  width: initial !important;
  height: initial !important;
}

.navbar {
  justify-content: initial !important;
}

p {
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
  color: #7c7c7c;
}

// .leftContent
// {
//   padding-right: 40px;
// }

.rightContent {
  padding-left: 40px;
}

.nav-link.active {
  background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.navbar {
  padding: 0.5rem 0rem;
  margin-bottom: 2rem;
  ul {
    a {
      text-decoration: none;
      color: #adadad;
    }
    a.active:after {
      display: block;
      position: relative;
      top: 5px;
      left: 0;
      content: "";
      border-bottom: solid 2px #019fb6;
      transform: scaleX(0.5);
      transform-origin: 0% 50%;

      transition: transform 250ms ease-in-out;
    }
  }
  li {
    margin-right: 40px;
  }
  .containerRightContent {
    margin-left: auto;

    svg {
      width: 20px;
      margin-left: 20px;
    }
  }
}

a:hover:after {
  // transform-origin: 50% 100%;
  transform: scaleX(0.5);
}

// li :after {
//   transform-origin: 0% 50%;
// }

.imgContainer {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/imageheader.png");
  border-radius: 20px;
}

.containerInfoItem {
  width: 89px;
  height: 34px;
  background: rgba(155, 155, 155, 0.1);
  border-radius: 5px;
  color: #7c7c7c;

  .mat-icon {
    width: initial !important;
    height: initial !important;
    color: #7c7c7c;
    margin-left: 6px;
  }
}

.discoverButton {
  width: 160px;
  height: 52px;
  background: #f7f7f7;
  // margin-top: 2.46875rem;
}

button.discoverButton {
  color: #2b2b2b !important;
  font-size: 1.2rem;
  line-height: 185%;
  letter-spacing: 0.25%;
}

.containerCaptionImageSlider {
  .captionImageSlider {
    width: 57px;
    height: 53px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &.first {
      background-image: url("../../assets/img1.jpg");
    }
    &.second {
      background-image: url("../../assets/imageheader.png");
    }
    &.third {
      background-image: url("../../assets/img2.jpg");
    }
    &.fourth {
      background-image: url("../../assets/img3.jpg");
    }
    &:nth-child(2) {
      transform: scale(1.1);
      border: 2px solid #329494;
    }
  }
  .containerArrow {
    .arrow {
      width: 24px;
      height: 24px;
      background: #f7f7f7;
      border-radius: 100%;
      box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
        0px 2px 4px rgba(61, 61, 61, 0.12);
      cursor: pointer;
    }
  }
}

.containerEvent {
  margin-top: 4.5rem;
  .containerCardEvent {
    width: 392px;
    height: 410px;

    .imgCardEvent {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 255px;
      border-radius: 20px;
      &.first {
        background-image: url("../../assets/img1.jpg");
      }
      &.second {
        background-image: url("../../assets/img2.jpg");
      }
      &.third {
        background-image: url("../../assets/img3.jpg");
      }
      &.fourth {
        background-image: url("../../assets/img4.jpg");
      }
      &.five {
        background-image: url("../../assets/img5.jpg");
      }
      &.six {
        background-image: url("../../assets/img6.jpg");
      }
      &.seven {
        background-image: url("../../assets/img7.jpg");
      }
      &.eight {
        background-image: url("../../assets/img8.jpg");
      }
    }

    .infoCardEvent {
      h4 {
        margin: 0;
        font-size: 1.125rem;
        line-height: 160%;
        font-weight: 500;
        letter-spacing: 0.25%;
      }
      :first-child {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.15%;
        font-weight: 500;
        color: #329494;
      }
      .infoPosition {
        font-size: 0.875rem;
        line-height: 160%;
        letter-spacing: 0.25%;
        color: #2b2b2b;
        .mat-icon {
          color: #2b2b2b;
        }
      }
    }

    .containerButtonEvent {
      .calendarButton {
        font-size: 1rem;
        font-weight: 500;
        line-height: 180%;
        letter-spacing: 0.25%;
        width: 269px;
        height: 49px;
        margin-right: 12px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
        cursor: pointer;

        .mat-icon {
          padding-right: 10px;
        }
      }
      .previewButton {
        cursor: pointer;
        width: 65px;
        height: 49px;
        background: #f7f7f7;
        box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
          0px 2px 4px rgba(61, 61, 61, 0.12);
        border-radius: 10px;
        border: none;
      }
    }
  }
  .discoverElements {
    cursor: pointer;
    width: 392px;
    height: 255px;
    background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
    box-shadow: 0px 8px 24px rgba(41, 41, 41, 0.08),
      0px 2px 4px rgba(61, 61, 61, 0.12);
    border-radius: 20px;
    h3 {
      color: white;
      font-size: 1.125rem;
      font-weight: 600;
    }
    .mat-icon {
      vertical-align: middle;
    }
  }
}

// HORIZONTAL SLIDER
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app li {
  color: inherit;
  padding-right: 16px;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs.full {
  padding: 0px;
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}
// END HORIZONTAL SLIDER

.containerCardGuide {
  cursor: pointer !important;
  width: 392px;
  height: 180px;
  color: white;
  font-size: 1.25;
  font-weight: bold;
  border-radius: 20px;
  &.first {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 124, 0.85) 0%,
      rgba(255, 198, 114, 0.7) 100%
    );
  }
  &.second {
    background: linear-gradient(
      145.77deg,
      rgba(124, 192, 255, 0.85) 0%,
      rgba(142, 114, 255, 0.7) 100%
    );
  }
  &.third {
    background: linear-gradient(
      145.77deg,
      rgba(255, 124, 187, 0.85) 0%,
      rgba(255, 114, 114, 0.7) 100%
    );
  }
  &.fourth {
    background: linear-gradient(
      145.77deg,
      rgba(111, 242, 140, 0.85) 0%,
      rgba(114, 230, 255, 0.7) 100%
    );
  }
}

.containerFooter {
  padding: 0 6.75rem;
  width: 100vw;
  height: 500px;
  background: #f7f7f7;
  .leftContent {
    img {
      width: 242px;
      margin-bottom: 2.5rem;
    }
    .containerSocial {
      svg {
        // width: 33px;
        margin-right: 26px;
      }
    }
    p {
      font-size: 1.125rem;
      letter-spacing: 0.0025em;
      line-height: 160%;
      color: #2b2b2b;
      padding-bottom: 2.5rem;
    }
    h5 {
      font-weight: bold;
      font-size: 18px;
      line-height: 160%;

      letter-spacing: 0.0025em;

      color: #2b2b2b;
      padding-bottom: 1rem;
    }
  }
  .rightContent {
    ul {
      a {
        text-decoration: none !important;
      }
      .titleList {
        color: #2b2b2b;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 140%;
        padding-bottom: 2.375rem;
      }
      li,
      a {
        font-size: 1.125rem;
        line-height: 180%;
        letter-spacing: 0.25%;
        padding-bottom: 1.25rem;
        color: #2b2b2b !important;
      }
    }
  }
}

// GRID MICKA

.title {
  margin-top: 93px;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 24px;
}

.titleInspiration {
  grid-column: 1/10;
  grid-row: 29/29;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 24px;
}

.gridContainer {
  h2 {
    padding-left: 0px;
  }
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(56, 50px);
  grid-column-gap: 24px;
  grid-row-gap: 16px;

  .one {
    grid-column: 1/8;
    grid-row: 1/11;

    .backgroundImage {
      background-image: url("../../assets/12.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .two {
    grid-column: 8/13;
    grid-row: 1/8;

    .backgroundImage {
      background-image: url("../../assets/2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .three {
    margin-top: 32px;
    grid-column: 1/8;
    grid-row: 12/20;

    .backgroundImage {
      background-image: url("../../assets/4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .four {
    margin-top: 32px;
    grid-column: 8/13;
    grid-row: 9/20;

    .backgroundImage {
      background-image: url("../../assets/15.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .five {
    grid-column: 1/5;
    grid-row: 22/27;

    .backgroundImage {
      background-image: url("../../assets/2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .six {
    grid-column: 5/10;
    grid-row: 22/27;

    .backgroundImage {
      background-image: url("../../assets/3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .seven {
    grid-column: 10/13;
    grid-row: 22/27;

    .discoverElements {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
      box-shadow: 0px8px24pxrgba (41, 41, 41, 0.08),
        0px2px4pxrgba (61, 61, 61, 0.12);
      border-radius: 20px;

      h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .mat-icon {
        vertical-align: middle;
      }
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .height {
    grid-column: 1/8;
    grid-row: 30/35;

    .backgroundImage {
      background-image: url("../../assets/5.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .nine {
    grid-column: 8/13;
    grid-row: 30/36;

    .backgroundImage {
      background-image: url("../../assets/8.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .ten {
    grid-column: 1/6;
    grid-row: 37/47;

    .backgroundImage {
      background-image: url("../../assets/6.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .eleven {
    grid-column: 6/13;
    grid-row: 38/49;

    .backgroundImage {
      background-image: url("../../assets/7.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .twelve {
    grid-column: 1/5;
    grid-row: 49/55;

    .backgroundImage {
      background-image: url("../../assets/9.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .thirteen {
    grid-column: 5/10;
    grid-row: 51/55;

    .backgroundImage {
      background-image: url("../../assets/10.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }

  .fourteen {
    grid-column: 10/13;
    grid-row: 51/55;

    .discoverElements {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #5cb7cb -28.77%, #329494 100%);
      box-shadow: 0px8px24pxrgba (41, 41, 41, 0.08),
        0px2px4pxrgba (61, 61, 61, 0.12);
      border-radius: 20px;

      h3 {
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .mat-icon {
        vertical-align: middle;
      }
    }

    .titleArticle {
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
    }

    .containerText {
      display: flex;
      justify-content: space-between;

      .infoArticle {
        font-size: 13px;
        color: #2b2b2b;
      }

      .buttonArticle {
        height: 25px;
        width: 90px;
        border-radius: 15px;
        border: none;
        background-color: #f4f4f4;
        font-size: 12px;
        color: #2b2b2b;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
  .gridContainer {
    .twelve {
      grid-column: 1/6;
      grid-row: 49/55;
    }

    .thirteen {
      display: none;
    }

    .fourteen {
      grid-column: 6/13;
      grid-row: 51/55;
    }

    .five {
      grid-column: 1/6;
      grid-row: 22/27;
    }

    .six {
      display: none;
    }

    .seven {
      grid-column: 6/13;
      grid-row: 22/27;
    }
  }
}

// END GRID MICKA

@media (min-width: 1200px) {
  .container {
    max-width: 1224px;
  }
}
