<!-- <div class="{{ storedTheme }}">
  <mat-form-field
    appearance="fill"
    class="drop-down-input containerSearch {{ storedTheme }}"
    [class.drop-down-input-active]="showPanel$ | async"
    cdkOverlayOrigin
    #originOverlay="cdkOverlayOrigin"
  >
    <mat-icon matPrefix class="mr-2 md-24 searchIcon">search</mat-icon>

    <input
      class="inputSearch"
      matInput
      type="search"
      placeholder="Rechercher dans le webzine"
      required
    />

    <mat-icon matSuffix color="primary">close</mat-icon>
  </mat-form-field>
  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    [cdkConnectedOverlayOffsetY]="-20"
    [cdkConnectedOverlayOrigin]="originOverlay"
    [cdkConnectedOverlayOpen]="showPanel$ | async"
  >
    <section class="drop-down-serch-panel {{ storedTheme }}">
      <h3 class="mb-0">Raccourcis</h3>
      <div class="col pl-0">
        <ul class="containerItemSearch d-flex flex-column pl-0">
          <li>Mariage</li>
          <li>Mariage</li>
          <li>Mariage</li>
          <li>Mariage</li>
          <li>Mariage</li>
          <li>Mariage</li>
          <li>Mariage</li>
        </ul>
      </div>
    </section>
  </ng-template>
</div> -->
