@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-green);
$my-app-accent: mat-palette($mat-grey, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// theme
$mat-theming-theme: mat-light-theme(
  $my-app-primary,
  $my-app-accent,
  $my-app-warn
);
$mat-theming-theme-dark: mat-dark-theme(
  $my-app-primary,
  $my-app-accent,
  $my-app-warn
);

$bg-theme-light: #fff;
$color-theme-light: #222;

$bg-theme-dark: #0c0c0c;
$color-theme-dark: rgba(255, 255, 255, 0.8);
$color-title-theme-dark: #fff;
$color-background-button-dark: #2b2b2b;
$color-background-footer: #2b2b2b;

@include angular-material-theme($mat-theming-theme);
// @include angular-material-theme($mat-theming-theme-dark);

// .theme-dark {
//   @include angular-material-theme($mat-theming-theme-dark);
//   .mat-typography {
//     background-color: black !important;
//   }
// }
// .theme-light {
//   @include angular-material-theme&($mat-theming-theme);
// }

.cdk-overlay-dark-backdrop {
  background-color: $color-theme-dark;
  background: $color-theme-dark;
  // opacity: 0.7 !important;
}

.theme-dark {
  .cdk-overlay-dark-backdrop {
    background-color: red;
    background: red;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  .mat-sidenav {
    background: #1a1a1a;
    h3 {
      color: white !important;
    }

    .containerIconHamburger {
      background-color: rgba(50, 148, 148, 0.5) !important;
    }

    .navItems {
      a {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }
    .darkModeContainer {
      span {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }

    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
      color: #d6d6d6 !important;
    }

    .mat-expansion-panel {
      background: #1a1a1a;
    }
    .mat-checkbox-label {
      color: #c5c5c5 !important;
    }
    .mat-checkbox-frame {
      background: rgba(124, 124, 124, 0.3) !important;
      border: none !important;
    }
    .mat-expansion-panel-header-title {
      color: #d6d6d6 !important;
    }
    .ng5-slider .ng5-slider-bar {
      cursor: pointer;
    }
    .containerRangeNumber {
      input {
        color: white !important;
        background: none !important;
      }
    }
  }
  .containerIconFilter {
    background-color: #329494 !important;
    .mat-icon {
      color: white;
    }
  }

  .mat-form-field-flex {
    background-color: $bg-theme-dark !important;
  }
}

.mat-form-field-flex {
  background-color: white !important;
}

// RANGE SLIDER

.mat-expansion-panel .mat-expension-panel-header {
  background: none !important;
  border-bottom: 1px solid red !important;
  margin-bottom: 2rem !important;
  height: 54px !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.ng5-slider :focus {
  outline: none !important;
}
.ng5-slider .ng5-slider-pointer:after {
  display: none !important;
}

.ng5-slider .ng5-slider-bar {
  background: #dceeee !important;
}

.ng5-slider .ng5-slider-pointer,
.ng5-slider .ng5-slider-selection,
.ng5-slider .ng5-slider-pointer:after {
  background-color: #329494 !important;
}
.ng5-slider .ng5-slider-bubble {
  display: none !important;
}

.ng5-slider .ng5-slider-pointer {
  width: 15px !important;
  height: 15px !important;
  top: -6px !important;
}

// END RANGE SLIDER

// SEARCH BAR

.containerSearch {
  .mat-form-field-wrapper {
    padding-bottom: 0em !important;
  }
}

.drop-down-input-active {
  z-index: 10000;
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
  }
}

.mat-form-field-suffix {
  cursor: pointer !important;
}

.mat-form-field-underline {
  display: none;
}

// END SEARCH BAR

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #329494;
}

button.close {
  color: #329494 !important;
  opacity: 1 !important;
  background-color: none !important;
}

.containerAddRemoveButton input {
  height: 3rem !important;
  width: 15rem !important;
  border-radius: 35px;
  border: 1px solid #d5dde5;
}

.buttonContinue a {
  text-transform: none;
  color: white;
}
.buttonContinue a:hover {
  text-decoration: none;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
  height: 0 !important;
}

.mat-input-element[type="time"]::after {
  display: none !important;
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
  background-color: inherit !important;
  border-bottom: none !important;
}

.cdk-overlay-pane {
  max-width: 65vw !important;
}
ul {
  list-style: none;
}
ul li {
  font-weight: lighter;
  color: #afbecd;
}

h3 {
  font-weight: bold !important;
}

.mat-checkbox {
  max-width: 20px !important;
}

.breadCrumd {
  margin-top: 2rem !important;
}

header nav {
  margin: 0;
  width: 100%;
  height: 4rem;
  background: transparent;
  -webkit-box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
  box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
}

header nav a {
  padding: 10px;
}

.nav {
  font-size: 1rem;
}
.nav-link {
  padding: 0 !important;
}
a .mat-icon {
  position: relative;
  top: -1px;
}

.nav-link.disabled {
  color: #929fb1 !important;
}

.activeNavButton {
  color: #329494;
  font-weight: bold;
}

.activeNavButton .mat-icon {
  font-weight: inherit !important;
}

.activeNavButton:hover {
  list-style: none;
  text-decoration: none;
  color: #329494;
}

.textareaButton.roomSection {
  width: 20rem !important;
}

.largeButtonModal {
  width: 100% !important;
}

.bigTextareaButton {
  width: 22rem !important;
}

.mat-raised-button {
  color: white !important;
  width: 12rem;
}

.mat-button-toggle-group {
  border: none;
  flex-wrap: wrap;
}

.mat-form-field {
  width: 18.75rem;
}

.containerRoomFeatures .mat-form-field {
  width: 100% !important;
}

.containerDemande .mat-form-field {
  width: 100% !important;
}

.containerDemande .mat-form-field textarea {
  height: 3rem !important;
}

.mat-grid-tile .mat-figure {
  flex-direction: column;
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  // background: lightgrey;
}

.mat-grid-tile:last-child {
  margin-right: auto;
  // background: lightskyblue;
}

// ICON SIZE

.mat-icon.md-14 {
  font-size: 0.875rem;
}

.mat-icon.md-18 {
  font-size: 1.125rem;
}

.mat-icon.md-24 {
  font-size: 1.5rem !important;
}

.mat-icon.md-30 {
  font-size: 1.875rem;
}

.mat-icon.md-36 {
  font-size: 2.25rem;
}

.mat-icon.md-48 {
  font-size: 3rem;
}

//

// header {
//     padding: 1em 0;

//     a {
//         color: white;
//         text-decoration: none;
//     }
//     a.logo {
//         font-weight: bold;
//     }

//     nav {
//         float: right;

//         ul {
//             list-style-type: none;
//             margin: 0;
//             display: flex;

//             li a {
//                 padding: 1em;

//                 &:hover {

//                 }
//             }
//         }
//     }
// }

h1 {
  margin-top: 2em;
}

html,
body {
  height: 100%;
  font-size: 100%;
  // overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

// BLUE FOCUS

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.mat-button-toggle {
  display: flex;
  justify-content: center !important;
  margin-right: 1rem;
  width: 5rem;
  height: 4.375rem;
  border-radius: 8px;
  background-color: #f8f9fa;
  border: none !important;
  margin-bottom: 1rem;
}

.labelButtonToggle {
  padding-top: 13px;
  font-size: 0.6rem;
  cursor: pointer;
}

.containerToggleGroup .mat-button-toggle-label-content {
  padding: 0px !important;
  width: 100%;
  text-align: -webkit-center;
}

// .mat-button-toggle:last-child
// {
//     margin-right: 0rem !important;
// }

.mat-form-field-type-mat-native-select .mat-form-field-infix::after {
  display: none !important;
  border: none !important;
}

.mat-button-toggle-checked {
  color: white !important;
  background: #27b9b9;
  // font-weight: bold;
}

// .mat-button-toggle-checked svg {
//   fill: white !important;
//   color: white !important;
//   stroke: white !important;
// }
// .mat-button-toggle-checked svg g {
//   fill: white !important;
//   color: white !important;
//   stroke: white !important;
// }
// .mat-button-toggle-checked svg rect {
//   fill: white !important;
//   color: white !important;
//   stroke: white !important;
// }
.mat-button-toggle-checked svg path {
  fill: white !important;
}
.mat-button-toggle-checked svg rect {
  fill: white !important;
}

.mat-button-toggle-checked svg circle {
  fill: white !important;
}

.mat-button-toggle .mat-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mat-button-toggle-label-content {
  line-height: 0px !important;
}

.disableArrowDown .mat-select-arrow {
  display: none !important;
}

.row {
  margin-bottom: 1rem;
}

.yesNoButton > * {
  width: 13rem;
  font-weight: bold;
}

.modalRoom {
  padding: 16px 0;
  -webkit-box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
  box-shadow: 0px -1px 38px -9px rgba(219, 219, 219, 1);
}

.addMeal {
  width: 210px;
  height: 50px;
  background: #f8f9fa;
  color: #afbecd;
}

.col-lg-4 {
  display: inline-block;
  text-align: left !important;
  padding: 0;
  padding-left: 15px;
}
.col-lg-5 {
  display: inline-block;
  text-align: left !important;
  // padding: 0;
  padding-left: 15px;
}

.favoriteButton {
  cursor: pointer;
  background: none !important;
  border: none !important;
}

.containerToggleGroup .mat-icon {
  width: initial !important;
  height: initial !important;
}

.containerToggleGroup svg {
  width: 30px !important;
  height: 30px !important;
}

.iconName {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mat-button-toggle-label-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

// ALL RESPONSIVE HORIZONTAL SLIDER

.containerCardEvent {
  // width: 31.5% !important;
  height: auto;
  margin-bottom: 32px;
  padding-right: 0px !important;
}

.containerAllCardArticles {
  .containerSelectedCards {
    width: 32.5% !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 1700px) and (max-width: 1900px) {
  .containerHorizontalSlider {
    .containerCardEvent {
      width: 480px !important;
    }
  }
}

@media (min-width: 1900px) and (max-width: 2200px) {
  .containerHorizontalSlider {
    .containerCardEvent {
      width: 535px !important;
    }
  }
}

@media (min-width: 2200px) and (max-width: 2400px) {
  .containerHorizontalSlider {
    .containerCardEvent {
      width: 535px !important;
    }
  }
}

@media (min-width: 2400px) and (max-width: 2600px) {
  .containerHorizontalSlider {
    .containerCardEvent {
      width: 620px !important;
    }
  }
}

//

@media (min-width: 1700px) and (max-width: 1900px) {
  .containerCardGuide {
    width: 480px !important;
  }
}

@media (min-width: 1900px) and (max-width: 2200px) {
  .containerCardGuide {
    width: 535px !important;
  }
}

@media (min-width: 2200px) and (max-width: 2400px) {
  .containerCardGuide {
    width: 535px !important;
  }
}

@media (min-width: 2400px) and (max-width: 2600px) {
  .containerCardGuide {
    width: 620px !important;
  }
}

// END ALL RESPONSIVE HORIZONTAL SLIDER
